:root {
    --bg-color: #FFFFFF;
}

.header-wrap {
    /* background-image: url(../images/home-background.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: inherit; */
    /* background-color: tomato; */
    background: linear-gradient(to top, white, tomato);
    color: white;
}

.carousel-indicators {
    bottom: -15px;
}

.carousel-indicators .active {
    background-color: #FF664B !important;
}

.carousel-indicators button {
    height: 8px !important;
    width: 8px !important;
    border-radius: 50%;
    background-color: #fff !important;
}

.text-slide,
.text-slide img {
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
}

.text-slide {
    box-shadow: 0px 1px 20px rgb(232 230 230);
}


/* specifications  */

.transaction,
.specification {
    background-color: #FFFCF3;
}

.transaction-wrap,
.specification-wrap {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 20px rgb(232 230 230);
}


/* .specification .row {
    padding-bottom: 10px;
} */

.specification .row a {
    text-decoration: none;
    color: #000;
    letter-spacing: .1px;
}

.specification .row a i {
    color: #FF664B;
    font-size: 28px;
}

.specification .row a p {
    font-size: 12px;
}


/* Transaction  */

.transaction-wrap {
    position: relative;
}

.transaction-color {
    height: 10px;
    width: 4px;
    background-color: #FF664B;
    position: absolute;
    left: 0;
    top: 20px;
}


/* Transaction slider  */

.transaction-slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    text-align: left;
    /* padding: 1em; */
    /* background-color: #eee; */
    color: #555;
    /* border: 5px solid #555; */
}

.transition-id p,
.transition-quantity p {
    letter-spacing: .1px;
}


/* .transaction-slider .transition-id:nth-child(2),
.transaction-slider .transition-quantity:nth-child(2) {
    color: rgb(223, 13, 13);
} */

.transaction-slider .transition-profit p {
    color: #FF664B;
}


/* footer menu  */

footer {
    border-top: 1px solid gray;
}

footer .menu a {
    font-size: 12px;
    letter-spacing: .1px;
    color: #000;
}

footer .menu a img {
    height: 29px;
    width: 29px;
}


/* about page css start here  */

.about-body {
    background-color: #EBEAEA;
}

.back-main-page {
    height: 45px;
    line-height: 45px;
    position: relative;
    color: #000;
    font-weight: 700;
}

.back-main-page img {
    height: 18px;
    width: 10px;
    position: absolute;
    left: 20px;
    top: 30%;
}


/* responsive  */

@media (max-width: 560px) {
    .header-wrap {
        background-size: cover;
    }
}